<h2>Create Product</h2>



<h2>Product is successfully created</h2>

<%= @product.name %> is added to the website. It costs $<%= @product.price %>.


<!-- Same As -->

<!-- 
<% product = Product.create(params[:product]) %>
</br>
<%= product.errors.inspect %>